/* SM */
@media all and (min-width: 576px) {  
    footer ul{
        width: 80%;
        margin-left: 20%;
    }
    .row70
    {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}
/* MD */
@media all and (min-width: 768px) {
    footer ul
    {
        width: 100%;
        margin-left: 0;
    }
}
/* LG */
@media all and (min-width: 992px) {  
    .Documents-Box{
        filter: brightness(80%) blur(0.03px);
    }
    .logo
    {
        margin-left: 15%;
    }
    .nav-link
    {
        color: white !important;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px;
    }
    .nav-link:hover
    {
        border-bottom: 2px solid white;
    }
    footer ul
    {
        width: 75%;
        margin-left: 25%;
    }
}
/* XL */
@media all and (min-width: 1200px) { 

}
/* XXL */
@media all and (min-width: 1400px) { 

}