*{
    color: #fefefe;
    /* rgb(254, 254, 254) */
    color: #e6e9f0;
    /* rgb(230, 233, 240) */
    color: #051747;
    /*  rgb(5, 23, 71) */
    color: #535f80;
    /* rgb(83, 95, 128) */
    color: #081f62;
    /*  rgb(8, 31, 98) */
    
}