/* SM */
@media all and (min-width: 576px) {  
    footer ul{
        width: 80%;
        margin-left: 20%;
    }
    .about2 li{
        margin-left: 10%;
    }
}
/* MD */
@media all and (min-width: 768px) {
    footer ul
    {
        width: 100%;
        margin-left: 0;
    }
    .heading-main-box h1
    {
        font-size: 50px !important;
    } 
    .about2 li{
        margin-left: 20%;
    }
}
/* LG */
@media all and (min-width: 992px) { 
    .tools-picture{
        filter: brightness(95%);
    }
    .no-pd-xs
    {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .heading-main-box h1
    {
        font-size: 65px !important;
    } 
    .logo
    {
        margin-left: 15%;
    }
    .nav-link
    {
        color: white !important;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px;
    }
    .nav-link:hover
    {
        border-bottom: 2px solid white;
    }
    .forHover img
    {
        box-shadow: #575757 0px 5px 15px 5px;
        filter: brightness(80%) blur(0.03px);
    }
    .Clubs-Type{
        transform: scale(1);
        opacity: 0;
    }
    .forHover:hover .Clubs-Type,
    .forHover:active .Clubs-Type{
        transform: scale(1.3);
        opacity: 1;
    }
    .about2 li{
        margin-left: 35%;
    }
    footer ul
    {
        width: 75%;
        margin-left: 25%;
    }
}
/* XL */
@media all and (min-width: 1200px) { 

}
/* XXL */
@media all and (min-width: 1400px) { 

}