
/* Big tablet to 1200px */
@media only screen and (max-width:1200px){
    .clubs-picture{
        width: 60%;
    }
    .clubs-box li{
        /* float: none; */
        width: 100%;
        margin-bottom: 15px;
    }
    .main-nav{
        visibility: visible;
    }
 
}

/* Small tablet to big tablet from 768px to 1023px */
@media only screen and (max-width:1023px){
    html{
        font-size: 16px;
    }
    .social-icons li{
        width: 20%;
    }
    .social-icons li i{
        font-size: 250%;
    }
    .tools-picture{
        width: 70%;
    }
    .tools-box li{      
        width: 100%;   
        text-align: center;
        margin-bottom: 30px;
    }

    .tools-box{
        margin-bottom: 0px;
    }
    .main-nav{
        visibility: visible;
    }
}

/* Small phones to small tablets */
@media only screen and (max-width: 767px){
    
    .main-nav{
        display: none;
    }
    
    .logo{
        width: 35%;
        margin-left: 80px;
    }
    h1{
        font-size: 280%;
        word-spacing: 2px;
        line-height: 120%;
    }
    .heading-main-box{
        top: 40%;
    }
    .mobile-nav-icon{
        visibility: visible;
        display: block;
    }
    

    .sticky .mobile-nav-icon{
        margin-top: -32px;
    }   
    
    .sticky .main-nav{
        margin-left: auto;
        font-size: 150%;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    section{
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Clubs-Type{
        font-family: 'Times New Roman', Times, serif;
        font-size: 120%;
        font-weight: 700;
        color: #000000;
        /* position: absolute; */
        transition: all .7s;
        opacity: 1;
        
    }
}
@media only screen and (max-width: 590px){
    
    .heading-main-box{
        font-size: 50%;
    }
    .mobile-nav-icon{
        top: 40px;
        right: 70px;
    }
    .sticky .mobile-nav-icon{
       margin-top: -20px;
    }
    .social-icons{
        font-size: 70%;
        margin-top: 45px;
    }

    .clubs-picture{
        margin-left: -10px;
        width: 100%;
    }
    .tools-picture{
        width: 100%;
        margin-left: -10px;
    }
    .about-section .row{
        width:100%;
    }
}

/* Small phones from 0 to 480px */
@media only screen and(max-width: 320px){
    /* aligning is same as 590px  but fix for some device smaller*/
    
    
    
    h1{
        top: 50px
    }
    .heading-main-box{
        margin-top: 100px;
        top: -150%;
    }
    .social-icons{
        font-size: 5%;
        margin-top: 45px;
    }
}   

/* @media only screen and(max-height: 767px){
    .heading-main-box{
        visibility: hidden;
    }
=======
/* Big tablet to 1200px */
@media only screen and (max-width:1200px){
    .clubs-picture{
        width: 60%;
    }
    .clubs-box li{
        /* float: none; */
        width: 100%;
        margin-bottom: 15px;
    }
    .main-nav{
        visibility: visible;
    }
 
}

/* Small tablet to big tablet from 768px to 1023px */
@media only screen and (max-width:1023px){
    html{
        font-size: 16px;
    }
    .social-icons li{
        width: 20%;
    }
    .social-icons li i{
        font-size: 250%;
    }
    .tools-picture{
        width: 70%;
    }
    .tools-box li{      
        width: 100%;   
        text-align: center;
        margin-bottom: 30px;
    }

    .tools-box{
        margin-bottom: 0px;
    }
    .main-nav{
        visibility: visible;
    }
}

/* Small phones to small tablets */
@media only screen and (max-width: 767px){
    
    .main-nav{
        display: none;
    }
    
    .logo{
        width: 35%;
        margin-left: 80px;
    }
    h1{
        font-size: 280%;
        word-spacing: 2px;
        line-height: 120%;
    }
    .heading-main-box{
        top: 40%;
    }
    .mobile-nav-icon{
        visibility: visible;
        display: block;
    }
    

    .sticky .mobile-nav-icon{
        margin-top: -32px;
    }   
    
    .sticky .main-nav{
        margin-left: auto;
        font-size: 150%;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    section{
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Clubs-Type{
        font-family: 'Times New Roman', Times, serif;
        font-size: 120%;
        font-weight: 700;
        color: #000000;
        /* position: absolute; */
        transition: all .7s;
        opacity: 1;
        
    }
}
@media only screen and (max-width: 590px){
    
    .heading-main-box{
        font-size: 50%;
    }
    .mobile-nav-icon{
        top: 40px;
        right: 70px;
    }
    .sticky .mobile-nav-icon{
       margin-top: -20px;
    }
    .social-icons{
        font-size: 70%;
        margin-top: 45px;
    }

    .clubs-picture{
        margin-left: -10px;
        width: 100%;
    }
    .tools-picture{
        width: 100%;
        margin-left: -10px;
    }
    .about-section .row{
        width:100%;
    }
}

/* Small phones from 0 to 480px */
@media only screen and(max-width: 320px){
    /* aligning is same as 590px  but fix for some device smaller*/
    
    
    
    h1{
        top: 50px
    }
    .heading-main-box{
        margin-top: 100px;
        top: -150%;
    }
    .social-icons{
        font-size: 5%;
        margin-top: 45px;
    }
}   

