/* *******************************************/
/* ************** DEFAULT SETUP **************/
/* *******************************************/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;  
    /* font-family: 'Raleway', sans-serif; */
    font-size: 20px;
    /* default => font-size : 16px; */
    color: #5a5a5a;
    background-color: #e6e9f0;
    text-rendering: optimizeLegibility;
}
body{
    overflow-x: hidden;
}
.logo
{
    height: 100px;
}
header
{
    background-image: linear-gradient(45deg,rgba(83, 95, 128,0.7) 55%,rgba(8, 31, 98,0.75)) ,url(../img/background6.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.heading-main-box
{
    position: absolute;
    text-transform: uppercase;
    left: 10%;
    font-family: 'Lato',sans-serif;
    color: white;
    transition: all .5s;
}
.nav-link
{
    color: white !important;
}
.logo
{
    margin-left: 0%;
}

.z2000
{
    z-index:2000;
}
/* *******************************************/
/* ************** CLEARFIX *******************/
/* *******************************************/
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
