/* *******************************************/
/* ************** DEFAULT SETUP **************/
/* *******************************************/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;  
    /* font-family: 'Raleway', sans-serif; */
    font-size: 20px;
    /* default => font-size : 16px; */
    color: #5a5a5a;
    background-color: #e6e9f0;
    text-rendering: optimizeLegibility;
}

body{
    padding-top: 100px;
    overflow-x: hidden;
    background-color:  #e6e9f0 !important ;
}

/* *******************************************/
/* ************** REUSEABLE ******************/
/* *******************************************/
.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 2000;
}
.bg-bluet
{
    background-color:rgba(55, 76, 131,.95);
}
/* *********************************************/
/* ***************** HEADER ********************/
/* *********************************************/
.logo
{
    margin-left: 0%;
}
.nav-link
{
    color: white !important;
    border-bottom: 2px solid transparent;
    border-left: 2px solid white;
    margin-top: 10px;
    padding-left: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    transition: all .25s;
    font-weight: 600;
    font-size: 25px;
}


/* *********************************************/
/* ***************** Content********************/
/* *********************************************/
.img
{
    width: 90%;
    margin: 5% !important;
    margin-bottom: 100px !important;
}
.row70
{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}
h1
{
    font-size: 80%;
    font-family:'Times New Roman', Times, serif
}
h1{
    text-transform: uppercase;
    color: black;
    word-spacing: 10px;
    letter-spacing: 1px;
    line-height: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 250%;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 30px;
}
h1::after
{
    content: " ";
    display: block;
    width: 200px;
    height: 3px;
    background-color:black;
    opacity: 0.75;
    margin: 0 auto;
    margin-top: 10px;
}
.content a
{
    text-decoration: none;
    margin: 0 auto;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content .row img
{
    width: 80%;
    margin:0 10%;
    margin-bottom: 30px;
}
.content
{
    font-family: "Times New Roman", Times, serif;
    line-height: 150%;
    font-weight: 500;
    word-spacing: 1px;
}
.content img
{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 1px;
    padding:0px;
}
.content p
{
    width: 100%;
    margin-bottom: 10px;
}
.content ul
{
    padding-left: 0px !important;
}
.content li
{
    margin-left: 30px !important;
}
/* *********************************************/
/* ************** FOOTER **************/ 
/* *********************************************/
footer h3{
    color: #e6e9f0;
    font-size: 130%;
    text-align: center;
}
footer li
{
    list-style: none;
    color: #051748;
}
footer a
{
    color: black;
    transition: color .15s;
    text-decoration: none;
}
footer a:hover
{
    color: white;
}
footer ul
{
    padding: 0;
}
footer{

    margin: auto;
    margin-top: 0 !important;
    background-image: linear-gradient(45deg,rgba(83, 95, 128,0.7) 55%,rgba(8, 31, 98,0.75)) ,url("/Resources/img/background2.jpeg") ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 0px;

}
.author
{
    text-align: center;
}
.footer-box{
    margin: 20px 30px;
}
footer p{
    padding: 20px;
    font-size: 110%;
    font-weight: 400;
}

li i{
    font-size: 125%;
    text-align: center;
    vertical-align: middle;
    transition: 0.5s;
}

li i:hover,
li i:active{
    transform: scale(1.15);
    color: #0f8ac4;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}